* {
    padding: 0;
    margin: 0;
}

.signup {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    font-size: 2rem;
}

.inputBox {
    height: 2rem;
    width: 60%;
    font-size: 1.5rem;
    padding: 1px;
}

.inputBox:-webkit-autofill,
.inputBox:-webkit-autofill:hover, 
.inputBox:-webkit-autofill:focus, 
.inputBox:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #8dc0ff64;
}

.inputLabel {
    padding-bottom: 0.5rem;
    margin-right: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 300px;
    min-height: 250px;
    background-color: aliceblue;
    border-color: rgb(127, 178, 255);
    padding: 3rem;
}

legend {
    padding: 0px 20px;
    font-size: 2.5rem;
}

.signupButton {
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    background: rgb(51, 156, 255);
    color:white;
    font-size: 1rem;
    font-weight: 700;
    border-color: aliceblue;
    box-shadow: 1px 1px 3px 1px rgb(255, 255, 255);
}